
  <div class="form-group">
      <%= form.label :headline %>
      <%= form.text_field :headline, placeholder: "headline", class: "form-control" %>
  </div>

  <div class="form-group">
      <%= form.label :details %>
      <%= form.text_field :details, placeholder: "details", class: "form-control" %>
  </div>

  <div class="form-group">
      <%= form.label :latitude %>
      <%= form.text_field :latitude, placeholder: "lat", class: "form-control" %>
  </div>

  <div class="form-group">
      <%= form.label :longitude %>
      <%= form.text_field :longitude, placeholder: "long", class: "form-control" %>
  </div>


  <div class="form-group">
      <%= form.label :stats %>
      <%= form.text_field :stats, placeholder: "Enter Your stats", class: "form-control" %>
  </div>


  <div class="form-group">
      <%= form.label :time %>
      <%= form.text_field :time, placeholder: "Enter Your time", class: "form-control" %>
  </div>