<div>
		<%= @facility.name %>
		<%= @facility.street %>
</div>

<div class="container">

        <%= form_for @review, :html => {:id => "review_form"} do |form| %>
        <div class="text-field">
          <%= form.label :"Hospital's Name" %>
          <%= form.text_field :facility_name, type: 'text', :required => true, class: 'form-control' %>
        </div>

        <div id="user_stars"></div>

        <div class="text-field">
          <%= form.label :"Comments" %>
          <%= form.text_area :comment, type: 'text', :required => true, class: 'form-control' %>
        </div>
        <%= form.submit "Submit Review", class: "btn btn-primary" %>

        <% end %>


        <script>
          $('#user_stars').raty({
            path: '/assets',
            scoreName: 'review[score]',
            score: 1
          });

        </script>
</div>