
  <div class="form-group">
      <%= form.label :blood_sugar %>
      <%= form.text_field :blood_sugar, placeholder: "Enter Your Blood Sugar", class: "form-control" %>
  </div>

  <div class="form-group">
      <%= form.label :cholesterol_level %>
      <%= form.text_field :cholesterol_level, placeholder: "Enter Your Cholesterol Level", class: "form-control" %>
  </div>

  <div class="form-group">
      <%= form.label :diastolic_blood_pressure %>
      <%= form.text_field :diastolic_blood_pressure, placeholder: "Enter Your Diastolic Blood Pressure", class: "form-control" %>
  </div>

  <div class="form-group">
      <%= form.label :systolic_blood_pressure %>
      <%= form.text_field :systolic_blood_pressure, placeholder: "Enter Your Systolic Blood Pressure", class: "form-control" %>
  </div>





